@import "~bootstrap/scss/bootstrap";
@import "./login.scss";
@import "./sidebar.scss";
@import "./user.scss";
@import "https://cdn.lineicons.com/3.0/lineicons.css";
@import "./invoice.scss";


.logo-image {
  width: 70px;
}

.separator {
  border-top: 1px solid rgb(202, 202, 202) !important;
  width: 100%;
  height: 2px;
}

.my-10 {
  margin: 10px 0;
}

main {
  padding-top: 60px;
  padding-bottom: 20px;
}

.admin-main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-portal {
  background: rgb(204, 204, 204);
  background: linear-gradient(
    242deg,
    rgba(204, 204, 204, 1) 0%,
    rgba(255, 255, 255, 1) 49%,
    rgba(214, 204, 204, 1) 100%
  );
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  min-height: 100vh;
}

.table-loading {
  padding: 120px;
  display: grid;
  justify-content: center;
  align-items: center;
}

#new-object-card {
  padding: 20px 30px;
  margin: 40px 0;
  .content {
    display: grid;
    justify-content: left;
    align-items: center;
  }
}
.dropzone {
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

.img-dropzone-main-container {
  position: relative;
  overflow-y: scroll;
}

.dropzone-img-component {
  padding: 0 5px;
  .dropzone-image-container {
    overflow: hidden;
    .image-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
      overflow: hidden;
      border-radius: 5px;

      img {
        width: 100%;
      }
    }

    .overlay-container {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .control-btn {
        padding: 10px;
        cursor: pointer;
      }

      i {
        color: #f3f3f3;
        font-weight: 800;
      }
    }
  }
}

.d-flex.space-between {
  justify-content: space-between;
}
