#generate-invoice-comp {
  .vehicle-list-container {
    border: 1px solid #acacac;
    border-radius: 2px;
    background: #fcfcfc;
    margin-bottom: 30px;
    height: 50vh;
    overflow-y: scroll;
  }
  .vehicle-select {
    padding: 2px 10px 10px 10px;
    background: #11111105;
    transition: 0.05s ease;
    cursor: pointer;

    &:hover {
      background: #1111110c;
    }

    &.selected {
      background: #ff1919a8;
      color: white;
    }
  }
}
