#authentication-component-container {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100vw;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1485627941502-d2e6429a8af0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: cover;

  & .login-container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.37);
    background: rgba(41, 41, 41, 0.103);
    backdrop-filter: blur(10px);
    min-height: 60vh;
    padding: 70px 35px 10px 35px;
    width: 100%;
  }
}
