// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

#saved-page-style-tag {
  display: flex;
  min-height: 100vh;
  margin: 0 0 90px 0 ;
  &.no-vehicle {
    align-items: center;
    justify-content: center;
  }
  .saved-list-container {
    padding: 0 70px;
  }
  .saved-vehicle-card {
    background: #fdfdfd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0;
    -webkit-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;

    &:hover {
      -webkit-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.329);
      -moz-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.329);
      box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.329);
    }
    .saved-img-container {
      overflow: hidden;
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 120%;
      }
    }

    .content-saved {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 10px 0;

      .vehicle-content {
        p {
          color: black;
          transition: 0.25s ease-in;
          font-size: 110% !important;
          margin: 0;

          &:hover {
            color: rgb(252, 77, 33);
          }

          .text-muted {
            color: rgb(63, 63, 63) !important;
          }
        }

        .price-container {
          p {
            margin: 0;
          }
          span {
            font-size: 70%;
            color: black;
          }
        }

        .vehicle-info-container {
          span {
            margin: 0 10px 0 0;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.61);
            font-size: 85%;
          }
        }
      }
    }
  }

  &.saved-vehicle {
    padding: 0 70px;

    @media (max-width: #{$screen-md-min}) {
      padding: 0 20px;
      justify-content: center;
    }

    p.save-memo {
      font-size: 16px;
      color: rgb(88, 88, 88);

      &.expire {
        margin: 80px 0;
        font-weight: 300;
      }
    }

    .no-saved-details {
      margin-top: 70px;
    }

    .saved-heading {
      font-size: 400%;
      font-weight: 550;
      color: rgb(61, 61, 61);
    }

    ul {
      li {
        font-size: 120%;
      }
    }

    a.btn {
      background: rgb(167, 51, 22);
      color: white;
      font-weight: 600;
      font-size: 120%;
      padding: 10px 20px;
      border-radius: 5px;
      margin: 10px 30px;
      transition: 0.25s;
      width: 50%;

      &:hover {
        background: rgb(131, 41, 19);
      }
    }

    .w-img {
      img {
        width: 90%;
        display: flex;
        align-items: center;
      }
    }
  }
}