html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.custom-select__control {
  width: 250px;
  background: #edf2f7 !important;
  backdrop-filter: blur(10px);
  border: none !important;
  border-radius: 2px !important;
  margin: 0 !important;
  min-height: 30px !important;
  transition: 0.2s ease;
}

.custom-select__control.custom-select__control--menu-is-open,
.custom-select__control.custom-select__control--is-focused {
  outline: none !important;
  border: none !important;
  background: #eff2f581 !important;
  backdrop-filter: blur(10px);
  box-shadow: none;
}

.custom-select__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.custom-select__input-container {
  color: rgba(28, 28, 28, 0.651) !important;
}

.custom-select__single-value {
  color: rgba(22, 22, 22, 0.651) !important;
}

.custom-select__placeholder {
  color: rgba(16, 16, 16, 0.651) !important;
}

.custom-select__indicators {
  max-height: 40px !important;
}

.custom-select__indicator,
.custom-select__dropdown-indicator {
  padding: 4px 8px !important;
}
