
.form-select-admin__control {
    width: 100% !important;
    background: #b2b2b2 !important;
    backdrop-filter: blur(10px);
    border: none !important;
    border-radius: 2px !important;
    margin: 0 !important;
    min-height: 40px !important;
    transition: 0.2s ease;
  }

  
  .form-select-admin__control.form-select-admin__control--menu-is-open,
  .form-select-admin__control.form-select-admin__control--is-focused {
    outline: none !important;
    border: none !important;
    background: white !important;
    backdrop-filter: blur(10px);
    box-shadow: none;
  }
  
  .form-select-admin__input-container {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .form-select-admin__input-container {
    color: black !important;
  }
  
  .form-select-admin__single-value {
    color: rgba(255, 255, 255, 0.651) !important;
  }
  
  .form-select-admin__placeholder {
    color: #e1e1e1 !important;
  }
  
  .form-select-admin__indicators {
    max-height: 40px !important;
  }
  
  .form-select-admin__indicator,
  .form-select-admin__dropdown-indicator {
    padding: 4px 8px !important;
  }