.form-select-index__control {
  width: 100% !important;
  background: #f5f5f5 !important;
  border: none !important;
  border-radius: 2px !important;
  margin: 0 !important;
  min-height: 40px !important;
  transition: 0.2s ease;
}

.form-select-index__control.form-select-index__control--menu-is-open,
.form-select-index__control.form-select-index__control--is-focused {
  outline: none !important;
  border: none !important;
  background: #f5f5f5 !important;
  box-shadow: none;
}

.form-select-index__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.form-select-index__indicators {
  max-height: 40px !important;
}

.form-select-index__indicator,
.form-select-index__dropdown-indicator {
  padding: 4px 8px !important;
}

.form-select-over__control {
  width: 100% !important;
  background: #eff2f581 !important;
  backdrop-filter: blur(10px);
  border: none !important;
  border-radius: 2px !important;
  margin: 0 !important;
  min-height: 40px !important;
  transition: 0.2s ease;
}

.form-select-over__control.form-select-over__control--menu-is-open,
.form-select-over__control.form-select-over__control--is-focused {
  outline: none !important;
  border: none !important;
  background: #eff2f581 !important;
  backdrop-filter: blur(10px);
  box-shadow: none;
}

.form-select-over__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.form-select-over__input-container {
  color: rgba(255, 255, 255, 0.651) !important;
}

.form-select-over__single-value {
  color: rgba(255, 255, 255, 0.651) !important;
}

.form-select-over__placeholder {
  color: rgba(255, 255, 255, 0.651) !important;
}

.form-select-over__indicators {
  max-height: 40px !important;
}

.form-select-over__indicator,
.form-select-over__dropdown-indicator {
  padding: 4px 8px !important;
}
