

header {
  width: 100%;
  height: 70vh;
  background: #11111115;
}

.header-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

h2.header-title {
  margin-bottom: 30px !important;
  font-size: 170% !important;
}

.carousel-item .img {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  position: relative;
}

.overlay-layer {
  display: block !important;
  .layer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 70%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
  }
}

.type-js {
  color: rgb(228, 228, 228);
  min-height: 60px;
  max-height: 60px;
  font-size: 125% !important;
  overflow: hidden;
}

.overlay-layer .layer h1 {
  color: white;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
}

.overlay-layer .layer {
  color: rgb(15, 15, 15);
  font-size: 125%;
  align-items: center;
  justify-content: center;
}

.type-js {
  display: flex;
  justify-content: center;
  & .typed-cursor {
    padding: 5px;
  }
}

.search-form button.btn {
  border-radius: 2px;
  width: 100%;
  font-size: 14px;
}
.search-form {
  padding: 0 20px;
}

.h-bg.overlay-block {
  cursor: pointer !important;
  height: 100%;
}

.body-style-img img {
  width: 75%;
  margin: 0 50px;
}

.body-style-img {
  align-items: center;
  color: rgb(105, 105, 105);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  transition: 0.5s;
  text-align: center;
  padding: 10px;

  &:hover {
    transform: scale(1.05);
    color: rgb(192, 67, 67);
  }
}

.body-styles {
  padding-top: 30px !important;
  padding-bottom: 20px !important;
  margin: 0 auto !important;
}

.tns-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.tns-nav button {
  opacity: 0.3;
  border: none;
  background: rgb(255, 64, 64);
  height: 4px;
  border-radius: 3px;
  min-width: 4%;
  margin: 0 2px;
  transition: 0.5s;

  &.tns-nav-active {
    opacity: 1;
    min-width: 6%;
    min-height: 5px;
  }
}

.slider-container {
  padding: 0;
}

.recent {
  & .overlay {
    overflow: hidden;
    & .overlay-layer {
      background: #0303032f;
      display: block;
      text-align: left;
      padding: 20px;
      transition: 0.5s;
      &:hover {
        background: #030303a9;
      }
      & h2 {
        color: white;
        font-weight: 600;
        font-size: 150%;
        line-height: 15px;
      }
      & p {
        color: white;
        font-size: 90%;
        line-height: 15px;
        opacity: 0.7;
        & span {
          color: rgba(255, 255, 255, 0.836);
          line-height: 15px;
        }
      }
    }
    & .overlay-wrapper {
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  & .overlay-block {
    cursor: pointer !important;
    overflow: hidden;
  }
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item.show .nav-link,
.nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
  border-bottom: 2px solid rgb(255, 64, 64) !important;
  font-weight: 200 !important;
}

.tab-content {
  padding: 3% 2%;
}

.company-container {
  background: url(https://images.unsplash.com/photo-1485627941502-d2e6429a8af0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px 0 0 0;

  & .bg {
    box-shadow: inset 0px 1px 23px 4px rgba(0, 0, 0, 0.397);
    -webkit-box-shadow: inset 0px 1px 23px 4px rgba(0, 0, 0, 0.24);
    color: rgb(32, 32, 32);

    & .content {
      & .image-container {
        width: 130px;
        height: 130px;
        overflow: hidden;
        border-radius: 50%;
        margin: 40px auto;

        & img {
          width: 100%;
          height: auto;
        }
      }

      & h2 {
        text-align: center;
        color: rgb(19, 19, 19);
      }

      & p {
        text-align: center;
      }

      background: #f5f5f5c5;
      box-shadow: inset 0px 1px 23px 4px rgba(0, 0, 0, 0.24);
      -webkit-box-shadow: inset 0px 1px 23px 4px rgba(0, 0, 0, 0.288);
      padding: 40px 50px;
    }

    & .main-content {
      & .image-container {
        width: 130px;
        height: 130px;
        overflow: hidden;
        border-radius: 50%;
        margin: 60px auto;

        & img {
          width: 100%;
          height: auto;
        }
      }

      & h2 {
        text-align: center;
        color: rgb(39, 39, 39);
      }

      & p {
        text-align: center;
      }

      background: #ffffffb7;
      padding: 40px 50px;
    }
  }
}

.vehicle-card {
  margin-bottom: 10px;
  border-radius: 5px;
  background: whitesmoke;
  -webkit-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.2);
  transition: 0.25s ease-in;
  border: 1px solid #d6d6d6;

  &:hover {
    -webkit-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 39px -10px rgba(0, 0, 0, 0.4);
  }

  & .overlay.overlay-block {
    cursor: auto;

    & .vehicle-image {
      overflow: hidden !important;

      & img {
        max-width: 100%;
        transition: 0.5s ease-in-out;
      }
    }
    
    .sold-overlay {
      width: 100%;
      min-height: 100%;
      background: #0c0c0c63;
      display: flex;
      justify-content: center;

      h3 {
        min-height: 100%;
        text-align: center;
        align-items: center;
        font-size: 300%;
        padding: 30% 0 0 0;
        color: #f3f3f3c9;
        b {
          font-weight: 700;
        }
      }
    }

    & .overlay-layer {
      display: block;
      width: 100%;
      height: fit-content;

      & span {
        padding: 6px 10px;
        position: absolute;
        top: 2px;
        right: 2px;
        font-weight: 700;
        cursor: pointer !important;

        & i {
          color: rgba(255, 255, 255, 0.925);
          font-size: 180%;
          transition: 0.5s ease-in-out;
        }

        &.saved i {
          color: #cc000060;
        }

        &.saved:hover i {
          color: #cc0000e8;
        }

        &:hover i {
          color: #ffc4c4;
        }
      }
    }
  }

  & .vehicle-content {
    padding: 10px;

    & .price-box {
      margin: 2px;
      border-radius: 4px;
      text-align: center;
      overflow: hidden;
      background: #252525;
      height: fit-content !important;

      & .price {
        padding: 4px 6px;
        background: #ffdc00;

        & h6 {
          margin: 0;
          font-weight: 500;
          white-space: nowrap;
        }
      }

      & .price-status {
        text-transform: uppercase;
        padding: 2px 6px;
        color: white;
        font-size: 70%;
      }
    }

    & .other-details span {
      white-space: nowrap;
      padding: 0 2%;
      font-size: 85%;
    }

    & .more-btn {
      margin-top: 20px;
      width: 100%;
      background: rgb(201, 59, 59);
      background: linear-gradient(
        90deg,
        rgba(201, 59, 59, 1) 0%,
        rgba(236, 58, 58, 1) 50%,
        rgba(208, 59, 59, 1) 100%
      );
      color: white;
      transition: 0.5s ease-in;

      &:hover {
        background: rgb(201, 59, 59);
        background: linear-gradient(
          90deg,
          rgb(187, 55, 55) 0%,
          rgb(231, 64, 64) 50%,
          rgb(207, 67, 67) 100%
        );
      }

      & span i {
        color: white;
      }
    }
  }
}

h1 {
  text-shadow: -1px -2px 6px rgba(0, 0, 0, 0.45);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  & a {
    background: rgb(201, 59, 59);
    background: linear-gradient(
      90deg,
      rgba(201, 59, 59, 1) 0%,
      rgba(236, 58, 58, 1) 50%,
      rgba(208, 59, 59, 1) 100%
    );
    color: white;
    transition: 0.5s ease-in;

    &:hover {
      background: rgb(201, 59, 59);
      color: white;
      background: linear-gradient(
        90deg,
        rgb(187, 55, 55) 0%,
        rgb(231, 64, 64) 50%,
        rgb(207, 67, 67) 100%
      );
    }
  }
}

.drawer-overlay {
  z-index: 1 !important;
}

.site-footer {
  background-color: #2e2e2e;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  justify-content: center;

  a.tel-icon {
    span {
      padding: 2px 8px;
    }

    color: #a83333;
  }

  hr {
    border-top-color: #bbb;
    opacity: 0.5;

    &.small {
      margin: 20px 0;
    }
  }

  h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }

  .footer-links {
    padding-left: 0;
    list-style: none;

    li {
      display: block;
    }

    a {
      color: #737373;

      &:hover {
        color: #a83333 !important;
        text-decoration: none;
      }
    }

    a:active,
    .footer-links a:focus,
    .footer-links a:hover {
      color: #a83333 !important;
      text-decoration: none;
    }
  }
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer {
    text-align: center;
  }
}

.new-arrivals-container,
.featured-container {
  padding: 10px 6%;
  margin: 30px 0 0 0;
}

.search-container,
.recent-slider-container {
  margin: 30px 0;
}

.component-header-title {
  margin: 0 0 30px 0;
}

.btn.quick-search-btn {
  padding: 9px 0 !important;
  border-radius: 5px !important;
  width: 100%;
  background: rgba(201, 59, 59, 0.418);
  background: linear-gradient(
    90deg,
    rgba(201, 59, 59, 0.4) 0%,
    rgba(236, 58, 58, 0.4) 50%,
    rgba(208, 59, 59, 0.452) 100%
  );
  backdrop-filter: blur(10px);
  color: white;
  transition: 0.5s ease-in;
}

.btn.adv-search-btn {
  background: rgb(201, 59, 59);
  background: linear-gradient(
    90deg,
    rgba(201, 59, 59, 1) 0%,
    rgba(236, 58, 58, 1) 50%,
    rgba(208, 59, 59, 1) 100%
  );
  color: white;
  transition: 0.5s ease-in;

  &:hover {
    background: rgb(201, 59, 59);
    background: linear-gradient(
      90deg,
      rgb(187, 55, 55) 0%,
      rgb(231, 64, 64) 50%,
      rgb(207, 67, 67) 100%
    );
  }
}

#load-state,
#no-content {
  min-height: 70vh;

  & .blockui-overlay {
    background: #30303007;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

.form-select-index__control {
  width: 100% !important;
  background: #f5f8fa !important;
  border: none !important;
  border-radius: 2px !important;
  margin: 0 !important;
  min-height: 40px !important;
  transition: 0.2s ease;
}

.form-select-index__control {
  &.form-select-index__control--menu-is-open,
  &.form-select-index__control--is-focused {
    outline: none !important;
    border: none !important;
    background: #eff2f5 !important;
    box-shadow: none;
  }
}

.form-select-index__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.form-select-index__indicators {
  max-height: 40px !important;
}

.form-select-index__indicator,
.form-select-index__dropdown-indicator {
  padding: 4px 8px !important;
}

header.main-nav-bar .nav {
  padding: 0 5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  .nav-brand-container {
    display: flex;
  }

  .nav-content-container {
    .nav-items-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-item-container {
        margin: 20px 20px 0 0;
        display: flex;
        align-items: center;

        a.nav-item {
          color: rgb(83, 83, 83);
          font-weight: 600;
          padding: 10px 15px;
          border-radius: 5px;
          transition: 0.5s;

          &:hover {
            background: rgba(243, 82, 42, 0.349);
          }
        }

        .menu {
          display: block;
        }
      }
    }
  }

  .nav-toolbar-container {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: #fa4a3dfb;
    }

    .symbol-label {
      color: #fa4a3dfb;
    }

    .text-hover-danger:hover {
      color: #fa4a3dfb !important;
    }
  }
}

.overlay-layer header.main-nav-bar {
  .nav a.nav-item {
    color: white !important;
  }

  .symbol-label {
    background: #e9e9e92f;
      backdrop-filter: blur(10px);
      color: #fa4a3dfb;
  }
}

.toast.toast-info {
  color: white;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.76);
}

.vehicle-card-column {
  display: block;
  position: relative;

  .vehicle-card {
    position: relative;
  }
}

.form-select-over__control {
  width: 100% !important;
  background: #eff2f581 !important;
  backdrop-filter: blur(10px);
  border: none !important;
  border-radius: 2px !important;
  margin: 0 !important;
  min-height: 40px !important;
  transition: 0.2s ease;
}

.form-select-over__control {
  &.form-select-over__control--menu-is-open,
  &.form-select-over__control--is-focused {
    outline: none !important;
    border: none !important;
    background: #eff2f581 !important;
    backdrop-filter: blur(10px);
    box-shadow: none;
  }
}

.form-select-over__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.form-select-over__input-container {
  color: rgba(255, 255, 255, 0.651) !important;
}

.form-select-over__single-value {
  color: rgba(255, 255, 255, 0.651) !important;
}

.form-select-over__placeholder {
  color: rgba(255, 255, 255, 0.651) !important;
}

.form-select-over__indicators {
  max-height: 40px !important;
}

.form-select-over__indicator,
.form-select-over__dropdown-indicator {
  padding: 4px 8px !important;
}

.bg-zone {
  color: white;
  background: #fa4a3dfb;
}


#drawer-nav-content {
  display: block !important;
  .head-brand {
    display: flex;
  }

  .nav-items-container {
      display: block;
      margin: 30px 0 0 0;

      .nav-item-container {
        display: block;
        width: 100%;
        padding: 10px;
        transition: 0.25s;

        &:hover {
          background: rgba(228, 54, 54, 0.349);
        }

        a.nav-item {
          color: rgb(83, 83, 83);
          font-weight: 600;
          padding: 10px 15px;
          border-radius: 5px;
          width: 100%;
        }

        .menu {
          display: block;
          position: relative;
        }
      }
    }
}

#site-banner {
  padding: 20px;
  width: 100%;
  overflow: hidden;
  h2 {
    font-size: 200%;
    color: white;
  }
}